@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #920225;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

.container {
  width: 100vw;
  padding: 5% 15%;
  font-family: 'Poppins', sans-serif;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 4rem); 
  line-height: 48px;
  letter-spacing: -0.045em;
  color: var(--primary-color);
}

.intro {
  width: 390px;
}

.intro h2 {
  padding-top: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.intro p {
  height: 87px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.profile-section {
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 54px;
}

.img-container {
  display: inline-block;
  vertical-align: top;
}

.team-title {
  display: inline-block;
}

.team-title h4 {
  writing-mode: vertical-rl;
  margin-left: 2px;
  font-family: 'PT Serif', serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.team {
  width: 305px;
  height: 471px;
}

.team:hover {
  animation: pulse;
  animation-duration: 2s;
  cursor: grab;
}

.profile-section div:nth-child(2) {
  padding-top: 88px;
}

.profile-section div:nth-child(5) {
  padding-top: 88px;
}

.team img {
  width: 238px;
  height: 347px;
}

.name {
  margin-top: -1px;
  padding-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
}

.footer p {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 22px;
  }
  .top-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .intro h2 {
    padding: 0;
  }

  .profile-section {
    grid-template-columns: repeat(2, auto);
    gap: 0;
  }

  .profile-section div:nth-child(even) {
    padding-top: 88px;
  }
}
