@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #920225;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

.container {
  padding: 5% 15%;
  font-family: 'Poppins', sans-serif;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  color: var(--primary-color);
}

.intro h2 {
  padding-top: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.intro p {
  width: 390px;
  max-width: 100%;
  height: 87px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.profile-section {
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 54px;
}

.img-container {
  display: inline-block;
  vertical-align: top;
}

.team-title {
  display: inline-block;
}

.team-title h4 {
  writing-mode: vertical-rl;
  margin-left: 2px;
  font-family: 'PT Serif', serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.team {
  width: 305px;
  height: 471px;
}

.team-down {
  padding-top: 88px;
}

.team img {
  width: 238px;
  height: 347px;
  /* width: 100%;
  height: auto; */
}

.name {
  margin-top: -1px;
  padding-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
}

.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}